@import "button";
@import "table";
@import "form";

.drw {
	
	.font () {
		font-size: 8pt;
		font-family: Tahoma, 'MS Sans Serif';
	}

	.font();
	
	input, textarea, keygen, select, button {
		.font();
	}

	.clickable:hover {
		cursor: pointer;
	}

}