.color-inputs() {

	input:not([disabled]) {

		&[required]:placeholder-shown {
			background-color: #ffd;
		}

		&:not(:placeholder-shown):invalid {
			background-color: #fee;
		}

	}
	
}

.drw.form {

	table {

		width: 100%;
		border-collapse: collapse;
		border-left:0px;
		font-size: 8pt;

		.tdh() {
			border:solid 1px hsl(@hue-form, 9%, 82%);
			padding: 5px 10px;
		}
		
		th {
			.tdh();
			background: hsl(0, 0%, 93%);
			text-align:right;
			width: 20%;
		}

		td {
			.tdh();
			background: hsl(@hue-form, 100%, 99%);
			
			input {			
				font-size: 8pt;
				color: #000000;
				background-color: #ffffff;
				FONT-FAMILY: Tahoma, 'MS Sans Serif';
				border: 1px #7f9db9 solid;
				padding-left: 3px;
				padding-right: 3px;
			}
			
			.color-inputs();

		}

		th:first-child {
			border-left:0px;
		}

		td:last-child {
			border-right:0px;
		}
		
		td[data-image] {
		        background-size: cover;
		        background-repeat: no-repeat;
		        background-position: center;
		        /*
		        background-attachment: fixed;
		        */
    		}

	}
	
	.bar() {
		height: 38px;
		border: 0px;
		border-top: solid hsl(@hue-form, 5%, 62%) 1px;		
		background: linear-gradient(
			hsl(@hue-table, 21%, 73%) 0px,
			hsl(@hue-table, 27%, 78%) 3px,
			hsl(@hue-table, 27%, 78%) 36px,
			hsl(@hue-table, 29%, 82%) 37px,
			hsl(@hue-table, 19%, 62%) 38px
		);

	}

	header {	
		.bar();
		padding-left: 20px;
		color: #fff;
		font-size: 18px;
	}
	
	div.toolbar {
	
		.bar();
		margin-top: 3px;
		display: flex;
		justify-content: center;
				
		button {
			height: 25px;
			margin: 6px 3px 0px 3px;
			padding: 0px 10px;
			background: linear-gradient(
				#eeeeee 0px, 
				#eeeeee 12px, 
				#e9e9e9 13px, 
				#e9e9e9 25px
			);
			border-bottom: solid 1px hsl(@hue-form, 4%, 77%);
			padding-top: 0px;
		}

	}

}