.drw.popup-form {

	.font () {
		font-size: 8pt;
		font-family: Tahoma, 'MS Sans Serif';
	}

	table {
		.font();

		tr {
			height: 27px;
			td {
				line-height: 27px;
			}
		}

		input[type=radio] {
			margin-top:7px;
		}

	}

	input {
		border-radius:0px;
		border:solid 1px #d5dce7;
		padding: 5px;
		color: #555;
	}
	
	.color-inputs();
	
	table[data-block-name=_grid_filter_dates_popup] {
		margin-top: 10px;
	}
		
	.slick-header {
		border-top: 0;
	}
	
	.slick-header-column {
		height: 12px;
		&:last-child {
			border-right: 0;
		}
	}
	
	.slick-row, .slick-headerrow {
		height: 20px;
	}

	.slick-cell {

		font-size: 11px;
		padding: 3px 0 0 3px;
		
		&:last-child {
			border-right: 0;
		}

		input[type=checkbox] {
			width: 11px;
			height: 11px;
			margin-top: 0px;
		}

	}	

}

.ui-dialog-titlebar {

	button {
		outline: none;
		background: hsl(@hue-table, 10%, 92%)!important;
	}

}

.ui-dialog-buttonset {

	button {
		height: 26px;
		font-family: Arial,sans-serif;
		font-size: 12px;
		border-color: hsl(@hue-table, 10%, 80%) !important;
		background: hsl(@hue-table, 10%, 92%)!important;
	}
	
}

.ui-dialog .ui-dialog-buttonpane {
	padding: 4px 12px 4px 5px;
}