/*@hue-table: 216;*/

.drw.table {

	div.toolbar {
	
		display: flex;
		height: 35px;
		line-height: 35px;
		border: 0px;
		padding-left:7px;
		background: linear-gradient(
			hsl(@hue-table,  8%, 47%) 0px, 
			hsl(@hue-table, 13%, 63%) 1px, 
			hsl(@hue-table, 21%, 73%) 2px,
			hsl(@hue-table, 27%, 78%) 3px,
			hsl(@hue-table, 27%, 78%) 33px,
			hsl(@hue-table, 29%, 82%) 34px,
			hsl(@hue-table, 19%, 62%) 35px
		);
		
		.thing () {
			height: 22px;
			margin-top: 7px;
			margin-right: 9px;
		}
		

		button {
			.thing ();
			background: hsl(@hue-table, 20%, 65%);
			border-bottom: solid 1px hsl(@hue-table, 27%, 87%);
		}

		input, select {
			.thing ();
		}

	}

	.slick-header () {
		background: hsl(@hue-table, 29%, 95%);
		border-bottom: 1px solid silver;
	}

	.slick-header-columns {
		.slick-header ()
	}

	.slick-header-column {
		.slick-header ();
		font-weight: bold;
		font-size: 10pt;
		height: 25px;
		line-height: 25px;
	}
	
	.slick-cell {
		font-size: 13px;
		height: 25px;
		line-height: 25px;
		border-right-style: solid;
		padding-left: 10px;
	}

	.slick-cell.active {
		outline:solid 1.2px hsl(0, 0%, 53%);
	}
	
	.slick-sort-indicator {
		margin: 10px 1px 0 2px;
	}
	
	.slick-header-column.ui-state-default {
		padding-left: 12px;

		&.slick-header-sortable {
			padding-left: 0px;
			&:hover {
				cursor: pointer;
			}
		}

	}
			
}